{% extends 'base.html.twig' %}

{% block title 'Agence symfony 4' %}

{% block body %}
<div class="container ht-4">
  <h1>Créer un bien</h1>
  {{include ('admin/property/_form.html.twig', {form: form, button: 'Créer'})}}
</div>

{% endblock %}
