{% extends 'base.html.twig' %}

{% block title ' Tous nos biens' %}

{% block body %}
<div class="container text-center mt-4">
<h1>Voir tous nos biens </h1>
<p> votre agence de location</p>

</div>
{% endblock %}
