{% extends 'base.html.twig' %}

{% block title 'Agence symfony 4' %}

{% block body %}
<div class="container ht-4">
  <h1>Editer l'option</h1>
  {{include ('admin/option/_form.html.twig', {form: form, button: 'Editer'})}}
</div>

{% endblock %}
